<div id="header-container">
    <div id="logo-header-container">
        <img src="../../assets/logo-header.svg">
    </div>
    <div id="application-name-container">
        <h2>Kafka Dash Undelivered</h2>
    </div>
    <div id="slogan-container">
        <h2>Seguros para un mundo en evolución</h2>
    </div>
    <div id="language-dropdown-container">
        <mat-icon id="world-icon" aria-hidden="false" color="white" aria-label="Example home icon">language</mat-icon>
        <select class="language-select" name="cars" id="cars">
              <option class="language-select" value="mercedes">ESP</option>
              <option class="language-select" value="audi">ENG</option>
          </select>
    </div>
</div>
