<div id="login-container">
    <div id="left-side-login-container">
        <div id="green-rectangle"></div>
        <div id="red-rectangle"></div>
        <div id = "main-picture">
            <img src="../../assets/login-main-image.png">
        </div>
        <div id="welcome-title">
            <h1>
                WELCOME TO
            </h1>
            <h2>
                KAFKA DASH UNDELIVERED
            </h2>
        </div>
    </div>
    <div id="right-side-login-container">
        <div id="login-location-container">
            <div id="elements-login-container">
            <div id="login-title">
                <h1>
                    LOGIN
                </h1>
            </div>
                <div id="button-login-container">
                    <button>
                        <h3>
                            LOGIN WITH YOUR SMART PASS
                        </h3>
                    </button>
                </div>
                <div id="login-trouble">
                    <h4>
                        ¿Trouble login in?
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>