<div id="messages-container">
    <div id="red-label">
        <h1>
            KAFKA MESSAGES UNDELIVERED
        </h1>
    </div>
    <div id="form-container">
        <form id="search-messages-form">
            <div id="inner-form-container">
                <div id ="inputs-form-container">
                    <div id="date-range-container">
                        <div class="title-input-container">
                            
                            <div class="title-input">
                                <div id="mat-calendar">
                                    <mat-icon id="world-icon" aria-hidden="false" aria-label="Example home icon">date_range</mat-icon>
                                </div>
                                <p>
                                     Enter a date range*
                                <p>
                            </div>
                        </div>
                        <label>
                            From
                        </label>
                        <input type="date" id="start-date" name="trip-start"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31">
                        <label>
                            To
                        </label>
                           <input type="date" id="end-date" name="trip-end"
                           value="2018-07-22" 
                           min="2018-01-01" max="2018-12-31" >
                    </div>
                    <div class="numeric-input-container">
                        <div class="title-input-container">
                            <div class="title-input">
                                <p>
                                    Offset*
                                <p>
                            </div>
                        </div>
                        <input type="text" class="numeric-input" name="name" required
                            minlength="1" maxlength="8" size="10" placeholder="Enter offset"> 
                    </div>
                    <div class="numeric-input-container">
                        <div class="title-input-container">
                            <div class="title-input">
                                <p>
                                    Partition*
                                <p>
                            </div>
                        </div>
                        <input type="text" class="numeric-input" name="name" required
                            minlength="1" maxlength="8" size="10" placeholder="Enter partition">
                    </div>
                    <div class="numeric-input-container">
                        <div class="title-input-container">
                            <div class="title-input">
                                <p>
                                    Page*
                                <p>
                            </div>
                        </div>
                        <input type="text" class="numeric-input" name="name" required
                            minlength="1" maxlength="8" size="10" placeholder="Enter page">
                    </div>
                    <div class="numeric-input-container">
                        <div class="title-input-container">
                            <div class="title-input">
                                <p>
                                    Quantity*
                                <p>
                            </div>
                        </div>
                        <input type="text" class="numeric-input" name="name" required
                            minlength="1" maxlength="8" size="10" placeholder="Qty per page">
                    </div>
                </div>
                     <button type="submit">
                        <h5>
                            SEARCH
                        </h5>
                    </button>
            </div>
        </form>
    </div>

    <div id="datatable-container">
        <div id="datatable-filter-input-container">
            <div class="title-input-container">
                <div class="title-input">
                    <p>
                        Filter
                    <p>
                </div>
            </div>
            <input type="text" id="filter-input" name="name" required
                minlength="1" maxlength="8" size="10" placeholder="Filter in datatable...">
        </div>

    </div>
</div>