button{
    background-color: #008859;
    width: 191px;
    height: 60px;
}

button > h5{
    color: white;
    margin-bottom: 0px;
    font-size: 20px;
}

#form-container {
    display: flex;
    margin-left: 80px;
}

#inner-form-container {
    display: flex;
}

#red-label{
    background-color: #BA3242;
    margin-top: 2.5%;
    margin-bottom: 3.5%;
    padding: 7px 0px 7px 80px;
}

#red-label > h1{
    color: white;
    font-size: 35px;
    margin: 15px 0px 15px 0px;
}

#end-date{
    border: none;
    width: 100px;
}

#start-date{
    border: none;
    width: 110px;
}

#offset{
    margin-right: 45px;
}

.numeric-input{
    margin-right: 15px;
    width: 120px;
    height: 55px;
}

#datatable-container{
    margin-top: 50px;
    margin-left: 80px;
}

#filter-input{
    width: 884px;
}
input{
    width: 180px;
    height: 55px;
}

#end-date::-webkit-calendar-picker-indicator {
    width: 175px;
height:  45px;
position: absolute;
color: transparent;
background: 0 0;
margin: 0;
opacity: 0;
pointer-events: auto;
    }

    #start-date::-webkit-calendar-picker-indicator {
        width: 175px;
    height:  45px;
    position: absolute;
    color: transparent;
    background: 0 0;
    margin: 0;
    opacity: 0;
    pointer-events: auto;
    font-size: 55px;
        }

label{
    font-weight: bold;
    font-size: 17px;
}
#inputs-form-container{
    display: flex;
}
#date-range-container{
    border: 1px solid gray;
    margin-right: 15px;
    padding: 0px 15px;
    min-width: 285px
}

.title-input-container{
    position: absolute;
    background-color: white;
    width: 250px;
}

.title-input{
    position: absolute;
    top: -15px;
    left: 20px;
    background-color: white;
    display: flex;
}

.title-input > p {
    font-size: 17px;
    margin: 2px 3px;
    color: #008859;
    font-weight: bold;
}

#mat-calendar{
    color: #008859;
}